.input-group {
  flex-basis: 100%;
  margin-bottom: 15px;
}

input {
  outline: none;
  border: none;
  padding: 12px;
  font-size: 1.1rem;
  width: 100%;
  background-color: black;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255,  25%);
}

input::placeholder {
  text-align: center;
 color: #adb5bd;
}

.search .row,
footer .row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.search {
  padding-block: 50px;
}

footer {
  margin-block: 50px 100px;
  .row{
    margin-bottom: 20px;
  }
  h2 {
    font-size: 2rem;
    font-weight: lighter;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
  }

  .input-group {
    margin-bottom: 20px;
  }

  input{
    font-size: .9rem;
    font-weight: lighter;
  }

  button{
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: lighter;
    color: rgb(220, 53, 69);;
    border: solid 1px rgb(220, 53, 69);
  }
}

@media (min-width: 768px) {
.input-group {
 flex-basis: 49%; 
}
}