main {
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .movie {
      flex-basis: 31.5%;
      position: relative;
      margin-bottom: 30px;
      border-radius: 3px;
      overflow: hidden;
      height: 500px;
    }
    .movie .img {
      object-fit: cover;
    }
    .movie:hover .overlay {
      bottom: 0;
    }
    .movie .overlay {
      position: absolute;
      bottom: -100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      border-radius: 3px;
      padding-inline: 5px;
      background-color: rgba(255, 255, 255, 0.8);
      transition: bottom 1s;
      text-align: center;
    }
    h3 {
      font-size: 2rem;
      font-weight: lighter;
      margin-bottom: 15px;
    }
    p {
      margin-block-end: 15px;
    }
  }
}
