* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list-unstyled {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.w-100 {
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* start upper bar */
/* Start Sidebar */
aside {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
}

aside .sidebar-content {
  width: 60px;
  height: 100vh;
  padding-block: 25px 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
  left: 0px;
}

aside .sidebar-content img {
  width: 30px;
}

aside .sidebar-content .menu-icon {
  margin: 20px auto;
  width: 20px;
  height: 21px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

aside .sidebar-content .menu-icon span {
  background-color: black;
  height: 3px;
  width: 100%;
  left: 0;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
}

aside .sidebar-content .menu-icon span:fisrt-child {
  top: 0;
}

aside .sidebar-content .menu-icon span:nth-child(2) {
  top: 6px;
}

aside .sidebar-content .menu-icon span:nth-child(3) {
  top: 12px;
}

aside .sidebar-content .menu-icon span:last-child {
  top: 18px;
}

aside .sidebar-content .menu-icon.open span:first-child {
  top: 6px;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

aside .sidebar-content .menu-icon.open span:last-child {
  top: 6px;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

aside .sidebar-content li {
  padding-bottom: 10px;
}

aside .sidebar-content .menu-icon.open span:nth-child(2),
aside .sidebar-content .menu-icon.open span:nth-child(3) {
  opacity: 0;
}

aside .sidebar-content.menu-opened {
  left: 240px;
}

aside .slide-out-menu {
  position: absolute;
  left: -240px;
  top: 0;
  width: 240px;
  height: 100vh;
  padding: 25px 30px 40px;
  z-index: 0;
  -webkit-transition: left ease 1s;
  transition: left ease 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
}

aside .slide-out-menu ul.change-movies li {
  font-size: 0.8rem;
}

aside .slide-out-menu.menu-visible {
  left: 0;
}

aside .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside .social-links ul a {
  margin-inline: 10px;
}

aside .slide-out-menu a {
  color: white;
  display: block;
  margin-bottom: 6px;
  font-size: 1.2em;
  padding-block: 10px;
}

aside .slide-out-menu p {
  color: white;
}

/* End Sidebar */
main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .row .movie {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 3px;
  overflow: hidden;
  height: 500px;
}

main .row .movie .img {
  -o-object-fit: cover;
     object-fit: cover;
}

main .row .movie:hover .overlay {
  bottom: 0;
}

main .row .movie .overlay {
  position: absolute;
  bottom: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-radius: 3px;
  padding-inline: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  text-align: center;
}

main .row h3 {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 15px;
}

main .row p {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

@media (max-width: 768px) {
  main .row {
    margin-left: 90px;
  }
}

@media (min-width: 768px) {
  main .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.input-group {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

input {
  outline: none;
  padding: 10px;
  font-size: 1.1rem;
  width: 100%;
}

input:focus {
  border: 1px #2878a7 solid;
  -webkit-box-shadow: 0 0 0 0.2rem #2878a7;
          box-shadow: 0 0 0 0.2rem #2878a7;
}

input::-webkit-input-placeholder {
  text-align: center;
}

input:-ms-input-placeholder {
  text-align: center;
}

input::-ms-input-placeholder {
  text-align: center;
}

input::placeholder {
  text-align: center;
}

.search .row,
footer .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search {
  padding-block: 50px;
}

footer {
  margin-block: 50px 100px;
}

footer h2 {
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}

footer .input-group {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */